<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_FILE_INFO_PATH" value="${log.file.info.path}"/>
    <property name="LOG_FILE_ERROR_PATH" value="${log.file.error.path}"/>

    <logger name="org.apache" level="ERROR" />
    <logger name="httpclient" level="ERROR" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{dd/MM/YYYY HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="FILE-ENGINE-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE_ERROR_PATH}/app_error.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE_ERROR_PATH}/archived/app_error.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!-- each archived file, size max 30MB -->
            <maxFileSize>${log.file.max.size}</maxFileSize>
            <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
            <totalSizeCap>${log.archive.files.size}</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>${log.max.history.days}</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>%d %p %c{1.} [%t] %m%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE-ENGINE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE_INFO_PATH}/app_info.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE_INFO_PATH}/archived/app_info.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!-- each archived file, size max 30MB -->
            <maxFileSize>${log.file.max.size}</maxFileSize>
            <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
            <totalSizeCap>${log.archive.files.size}</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>${log.max.history.days}</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d %p %c{1.} [%t] %m%n</pattern>
        </encoder>
    </appender>

    <root level="all">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE-ENGINE-ROLLING"/>
        <appender-ref ref="FILE-ENGINE-ERROR"/>
    </root>

</configuration>