#parse("/array.java.vm")
#if ($packageName)
package $packageName;

#end
import core.browser.runner.WebDriverRunner;
import io.cucumber.junit.Cucumber;
import io.cucumber.junit.CucumberOptions;
import org.junit.runner.RunWith;

//import cucumber.api.CucumberOptions;
//import cucumber.api.junit.Cucumber;
import org.junit.BeforeClass;
import org.junit.AfterClass;

@RunWith(Cucumber.class)
@CucumberOptions(
        strict = $strict,
#if($featureFile.contains("src/test/resources"))
        features = {"classpath:$featureFile.split("src/test/resources/")[1]"},
#else
        features = {"$featureFile"},
#end
#set($array = $plugins)
#set($newarray = [])
#set($flag=false)
#foreach ($val in $array)
#if($val.contains("target"))
#set($temp = $newarray.add($val.replace($val.substring(5,$val.indexOf("target")),"")))
#set($flag=true)
#end
#end

#if($flag)
        plugin = #stringArray($newarray),
#else
        plugin = #stringArray($plugins),
#end
        monochrome = $monochrome,
#set($newtags = "")
#foreach($val in $tags)
#if($foreach.hasNext)
#if($val.contains("~"))
        #set($newtags = $newtags + "not " +$val.replace("~","") + " and ")
#else
        #set($newtags = $newtags + $val + " and")
#end
#else
#if($val.contains("~"))
        #set($newtags = $newtags + "not " +$val.replace("~",""))
#else
        #set($newtags = $newtags + $val)
#end
#end
#end

        tags = "$newtags",
        glue = #stringArray($glue))

public class $className {

    @BeforeClass
    public static void before(){
    }

    @AfterClass
    public static void after(){
    }
}